extends layout

block scripts
  script(src='javascripts/conjugator.js')

block content
  #conj-input-area
    #conj-instructions
      span.instruction Enter a verb
      input(id="conj-input" name="conj-input" type="text" value="daryti") 
      span.instruction to see its conjugated forms!
    .buttons
      button(class="clear-input") Reset
      button(id="conj-button") Get Conjugation Table
  #conj-output-area
    span.instruction ...and see it here in Lithuanian!
    #output-container
    