doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia")
    script(src='javascripts/index.js')
        script(src='javascripts/translate.js')
  body
    block content
    block footer
