body {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  padding: 50px;
  max-width: 570px;
  font: 14px 'Lato', 'Lucida Grande', Helvetica, Arial, sans-serif;
  color: #494949;
}

/* a {
  color: #00b7ff;
} */

#input-container {
  display: flex;
  flex-direction: column;
}

textarea {
  width: flex;
  border: 0px;
  padding: 1rem;
  font-size: 1.25rem;
  font-family: 'Lato', 'Lucida Grande', Helvetica, Arial, sans-serif;
  color: #494949;
  background-color: whitesmoke;
  margin: 0.5rem 0;
  border-radius: 0.25rem;
}

.light {
  color: whitesmoke;
}

#translation-input-area,
#conj-input-area {
  display: flex;
  flex-direction: column;
  background-color: #d96459;
  padding: 1rem 2rem;
  border-radius: 0.75rem 0.75rem 0 0;
  width: 100%;
  margin-top: 1rem;
}

#translation-output-area,
#conj-output-area {
  display: flex;
  flex-direction: column;
  background-color: #5c8d76;
  padding: 1rem 2rem;
  border-radius: 0 0 0.75rem 0.75rem;
  width: 100%;
}

#output-container {
  display: flex;
  flex-direction: column;
  background-color: #d4e7dd;
  color: #494949;
  padding: 1rem;
  min-height: 6em;
  border-radius: 0.25rem;
  margin: 0.5rem 0;
}

.instruction {
  color: whitesmoke;
  font-size: 1.5rem;
  margin: 0.25rem 0;
}

.nav-link {
  color: #494949;
  padding: 0.5rem;
  margin: 0.25rem;
  background-color: #fcd47d;
  border-radius: 0.25rem;
  border: 0px;
  text-align: center;
  font: 1.25rem 'Lato', 'Lucida Grande', Helvetica, Arial, sans-serif;
  text-decoration: none;
}

#transl-button,
#conj-button {
  flex-grow: 8;
  color: #494949;
  padding: 0.5rem;
  margin: 0.5rem 0;
  background-color: #fcd47d;
  border-radius: 0.25rem;
  border: 0px;
  text-align: center;
  font: 1.25rem 'Lato', 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.translation-text {
  font-size: 1.25rem;
  font-family: 'Lato', 'Lucida Grande', Helvetica, Arial, sans-serif;
  color: #494949;
}

.buttons {
  display: flex;
  align-content: stretch;
}

.clear-input {
  flex-grow: 1;
  color: #494949;
  padding: 0.5rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  background-color: #f8c7c3;
  text-align: center;
  border-radius: 0.25rem;
  border: 0px;
  font: 1.25rem 'Lato', 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.choose-languages {
  flex-grow: 1;
  color: #494949;
  padding: 0.5rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  background-color: #c5d6e4;
  text-align: center;
  border-radius: 0.25rem;
  border: 0px;
  font: 1.25rem 'Lato', 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.conj-table {
  border-spacing: 0px;
  font-size: 1.25rem;
  padding-bottom: 1.5rem;
}

.conj-table thead,
.conj-table .person {
  font-weight: 700;
}

.conj-table td {
  color: #494949;
  border-bottom: 1px solid #494949;
  padding: 0.25rem 0.5rem;
}

#conj-input {
  width: 150px;
  padding: 0.25rem;
  font-size: 1.25rem;
  color: #494949;
  background-color: whitesmoke;
  border-radius: 0.25rem;
  font: 1.25rem 'Lato', 'Lucida Grande', Helvetica, Arial, sans-serif;
  margin: 0 0.5rem;
}

#conj-instructions {
  display: flex;
  flex-flow: row wrap;
  margin: 0.5rem;
}

.nav a {
  padding: 0.5rem;
}

.tts-button {
  background-color: #d4e7dd;
  color: dimgray;
  padding: 0.5rem 0.5rem 0.25rem 0.5rem;
  margin: 0rem 0rem 0rem 0.5rem;
  text-align: center;
  border-radius: 0.25rem;
  border: 0px;
  font: 1.25rem 'Lato', 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.tts-button-active {
  background-color: #d4e7dd;
  color: royalblue;
  padding: 0.5rem 0.5rem 0.25rem 0.5rem;
  margin: 0rem 0rem 0rem 0.5rem;
  text-align: center;
  border-radius: 0.25rem;
  border: 0px;
  font: 1.25rem 'Lato', 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.output-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
